<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AIMS</title>
  <style>
    body {
  height: 120vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../static/assoc/aim.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}
  </style>
</head>

<body>
  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
  <script src="../static/js/barChart.js"></script>
  <script src="../static/js/record.js"></script>
  <script src="../static/js/jquery-3.4.1.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/tooplate-script.js"></script>
  <script src="https://d3js.org/d3.v4.js" charset="utf-8"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</body>

</html>
